body {background-color:rgb(255, 255, 255);}
h1{color:grey;}

#main {
    margin-left: 4%;

}
#main label {
    padding-right: 30px;
}
#main span {
    background-color: yellow;
}
#main p {
    display: inline;
}